@import 'reset';
/* ------------------------------------------------------------------ */
/*        YOUR SCSS
/* ------------------------------------------------------------------ */
body {
	overflow: hidden;
	background: black;
	margin: 0;
	overflow: hidden;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center;
}
