<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Camera Dolly Test</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />


        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="styles/styles.css">
    </head>
    <body>
        <video id="ch-1-cowboy-video" autoplay loop muted webkit-playsinline style="display:none"></video>
        <video id="ch-2-fancy-women-bg" autoplay loop muted webkit-playsinline style="display:none"></video>
        <script src="<%= scriptURL %>scripts/vendors/dat.gui.js"></script>
        <script src="<%= scriptURL %>scripts/vendors/three.min.js"></script>

        <!-- <script src="<%= scriptURL %>scripts/vendors/CopyShader.js" charset="utf-8"></script>
        <script src="<%= scriptURL %>scripts/vendors/BokehShader.js" charset="utf-8"></script>
        <script src="<%= scriptURL %>scripts/vendors/EffectComposer.js" charset="utf-8"></script>
        <script src="<%= scriptURL %>scripts/vendors/RenderPass.js" charset="utf-8"></script>
        <script src="<%= scriptURL %>scripts/vendors/ShaderPass.js" charset="utf-8"></script>
        <script src="<%= scriptURL %>scripts/vendors/MaskPass.js" charset="utf-8"></script>
        <script src="<%= scriptURL %>scripts/vendors/BokehPass.js" charset="utf-8"></script> -->

        <script src="<%= scriptURL %>scripts/vendors/TrackballControls.js"></script>
        <script src="<%= scriptURL %>scripts/vendors/intrinsic.js"></script>

        <script src="<%= scriptURL %>scripts/app.js"></script>
    </body>
</html>
